#global {
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
  font-family: 'Rubik Dirt', cursive;
}

#global .viskunets {
  margin: 60px 0px;
}

#global .viskunets img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

#About {
  text-align: center;
  height: 800px;
  padding-top: 300px;
}

#About .text_about_me {
  font-family: 'Rubik Dirt', cursive;
}

#About .AboutMe {
  font-family: 'Rubik Dirt', cursive;
  font-size: 60px;
}

#About .AboutMe .Hello {
  font-size: 30px;
}

#skills {
  font-family: 'Rubik Dirt', cursive;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
  height: 700px;
}

#skills img {
  margin-top: 200px;
  display: inline-block;
  height: auto;
  max-width: 100%;
}

#portfolio {
  min-height: 1700px;
  margin-top: 100px;
  text-align: center;
  font-family: 'Rubik Dirt', cursive;
  font-size: 40px;
}

#contacts {
  font-family: 'Rubik Dirt', cursive;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
  height: 400px;
}

#contacts button {
  margin-top: 40px;
  font-family: sans-serif;
}

footer {
  height: 40px;
  margin: 50px 0px;
  text-align: center;
}

@media (max-width: 940px) {
  body {
    width: 936px;
  }
}

@media (max-width: 770px) {
  body {
    width: 939px;
  }
}
