* {
  scroll-behavior: smooth;
  margin: 0 auto;
  width: 900px;
  height: auto;
  font-family: 'Orbitron', sans-serif;
}

* body {
  background-image: url(../img/interlaced.png);
}

#global {
  height: 500px;
}

a {
  width: 500px;
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #fff;
}

span {
  font-family: 'Orbitron', sans-serif;
}

button {
  border: none;
  background-color: transparent;
  padding: auto;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  margin-right: 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-transition: all 0.9s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

button:hover {
  background: #110000;
  -webkit-box-shadow: inset 0 0 0 100px #000000;
          box-shadow: inset 0 0 0 100px #000000;
  cursor: pointer;
  color: #ffffff;
  border: 5px solid #ffffff;
  -webkit-transform: skew(-21deg);
          transform: skew(-21deg);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  margin-top: 32px;
  background-color: #828282;
  width: 100%;
}

.hr {
  margin-top: 150px;
  background-color: #828282;
  width: 100%;
}

#global h2 {
  margin-top: 10px;
  margin-left: 1%;
  font-size: 40.3392px;
  line-height: 59px;
  color: #514c4c;
  text-transform: uppercase;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  font-family: 'Orbitron', sans-serif;
}

#global h2:hover {
  color: #030913;
  text-shadow: 1px 5px 0 #000000;
}

#global h3 {
  margin-top: -55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 22px;
  color: #514c4c;
  font-family: 'Orbitron', sans-serif;
}

.viskunets {
  overflow: hidden;
}

.viskunets .vladislav {
  margin-left: -50px;
  position: static;
  margin-top: -20px;
  width: 900px;
  height: 387px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.viskunets .vladislav:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.me {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: 800px;
  background: #F6F6F6;
}

.me .AboutMe {
  padding-top: 300px;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.me .Hello {
  margin-top: 20px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

.skills {
  margin: 0 auto;
  padding-top: 100px;
  height: 600px;
}

.skills .my_skills {
  padding-top: 20px;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-size .3s ease;
  transition: background-size .3s ease;
}

.skills .my_skills:hover {
  background-size: 100% 2px;
}

.skills .sub_skills {
  padding-top: 70px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.skills .img_skils2 {
  padding-left: 40px;
}

.skills .img_skils3 {
  padding-left: 40px;
}

.skills .img_skils4 {
  padding-left: 40px;
}

img {
  padding-top: 84px;
  padding-left: 50px;
  width: 150px;
  float: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio {
  margin-top: 100px;
  width: 900px;
  height: 600px;
  margin-bottom: 1150px;
}

.portfolio .header_portfolio {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.portfolio .number_one {
  padding-bottom: 30px;
}

.portfolio .number_two {
  padding-bottom: 30px;
}

.portfolio .number_three {
  padding-bottom: 30px;
}

.portfolio .img_portfolio {
  width: 90%;
  padding-left: 45px;
  cursor: pointer;
  opacity: 1;
}

.portfolio .img_portfolio:hover {
  opacity: 0.8;
}

.my_contact {
  height: 300px;
  padding-top: 100px;
}

.my_contact .contact {
  padding-top: -200px;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.25);
}

.my_contact .some_text {
  position: relative;
  top: 20px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.my_contact .btn_contact {
  position: relative;
  top: 40px;
  left: 350px;
  width: 200px;
  height: 70px;
  font-size: 20px;
  display: inline-block;
  -webkit-transform: skew(-21deg);
          transform: skew(-21deg);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.my_contact .btn_contact:hover {
  background: #110000;
  -webkit-box-shadow: inset 0 0 100px 0 #000000;
          box-shadow: inset 0 0 100px 0 #000000;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.footer {
  position: relative;
  text-align: center;
  margin-top: 50px;
  height: 100px;
}

.footer h5 {
  font-size: 22px;
}

@media (max-width: 992px) {
  .footer img {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  * {
    width: 638px;
    font-size: 15px;
  }
  * button {
    width: 100px;
    height: 45px;
  }
  * #global h2 {
    font-size: 20px;
  }
  * #global h2:hover {
    text-shadow: 1px 1px 0 #000000;
  }
  * #global h3 {
    margin-top: -63px;
    font-size: 18px;
  }
  * .viskunets .vladislav {
    margin-left: -170px;
  }
  * img {
    padding-bottom: 50px;
  }
  * p {
    font-size: 20px;
  }
  * .portfolio {
    width: 640px;
    margin-bottom: 700px;
  }
  * .my_contact .btn_contact {
    left: 210px;
  }
  * .my_contact {
    height: 222px;
  }
  * .footer {
    right: 10px;
  }
  * .footer h5 {
    font-size: 15px;
  }
}
