#global
     text-align: center
     margin-top: 60px
     text-transform: uppercase
     font-family: 'Rubik Dirt', cursive;
     .viskunets
          margin: 60px 0px
          img
               display: inline-block;
               height: auto;
               max-width: 100%;
#About
     text-align: center
     height: 800px
     padding-top: 300px
     .text_about_me
          font-family: 'Rubik Dirt', cursive;
     .AboutMe
          font-family: 'Rubik Dirt', cursive;
          font-size: 60px
          .Hello
               font-size: 30px

#skills
     font-family: 'Rubik Dirt', cursive;
     font-size: 40px
     margin-top: 100px
     text-align: center
     height: 700px
     img
          margin-top: 200px
          display: inline-block;
          height: auto;
          max-width: 100%;

#portfolio
     min-height: 1700px
     margin-top: 100px
     text-align: center
     font-family: 'Rubik Dirt', cursive;
     font-size: 40px

#contacts
     font-family: 'Rubik Dirt', cursive;
     font-size: 40px
     margin-top: 100px
     text-align: center
     height: 400px
     button
          margin-top: 40px
          font-family: sans-serif

footer
     height: 40px
     margin: 50px 0px
     text-align: center
